import * as angular from 'angular';

export class <%= nameCap %> implements I<%= nameCap %> {

    //#region Properties

    //#endregion

    //#region Constructor

    static $inject = [];

    constructor() {

    }

    //#endregion

    //#region Functions

    //#endregion
}

export interface I<%= nameCap %> {

}
